* {
    margin: 0;
}

body {
    font-family: "Merriweather";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.primary-font-family {
    font-family: "Inter", sans-serif;
}


.bg {
    background-image: linear-gradient(rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
}

/* banner styles */


.banner-container,
#secondary-banner {
    background-image: url("./images/Banner-Image.png");
    background-repeat: no-repeat;
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    color: #FFFFFF;



}

.banner-content {
    text-align: center;
    padding: 170px 340px;
    color: (255, 255, 255, 1);

    border-radius: 16px;
}

.banner-content h3 {
    font-size: 32px;
    font-weight: 300;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 800;
}

/* holiday offer styles */

.holidays-offer {
    margin: 123px 390px;
    text-align: center;


}

.offer-title {
    font-size: 88px;
    font-weight: bold;
    color: red;
    margin-bottom: 40px;
}

.offer-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.offer-content h3 {
    font-size: 24px;
    font-weight: 400;
    color: red;
    margin: 16px;

}

.offer-image {
    height: 500px;
    width: 800px;
    margin-top: 48px;
}

/* secondary banner styles */

#secondary-banner,
.bg-banner {
    background-image: url('images/Vectorrr.png');
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.bg-banner {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0));
    border-radius: 16px;
}

.secondary-banner-content {
    padding: 124px 126px;


}

.secondary-banner-content h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
}

.secondary-banner-content p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 32px;

}

.secondary-banner-content a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 32px;

}

.secondary-banner-image img {
    margin: 67px 140px;
}


/* venue styles */


#venue {
    background-image: linear-gradient(rgba(255, 0, 0, 10%), rgba(255, 0, 0, 0));
    margin: 118px auto;
    padding: 105px auto;
    text-align: center;
    height: 482px;
    width: 1320px;
    border-radius: 16px;

}

.venue-content {
    padding: 105px;
}



#venue h2 {
    font-size: 32px;
    font-weight: 550;
    color: rgba(7, 2, 17, 1);
    padding: 10px;
}

span {
    color: red;
}

.btn {
    height: 56px;
    padding: 16px 32px;
    margin: 48px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 1);
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

/* portfolio styles */


/* subscribe container styles */

#subscribe {
    background-color: rgba(255, 0, 0, 0.05);
    margin: 120px auto;
    width: 1320px;
    height: 616px;
    text-align: center;
    border-radius: 16px;
}

.subscribe-image img {
    height: 150px;
    width: 150px;
    margin: 80px auto 40px;
}

.subscribe-content p {
    margin: 22px 212px 0;

}

.subscribe-btn {
    margin-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


.subscribe-form input {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    height: 25px;
    padding: 17px 32px 12px;
    margin: 40px 0 60px;
    border: none;

}